.cart-container {
  padding: 40px;
  min-height: 80vh;
}

.cart-title {
  margin-bottom: 30px;
}

.cart-wrapper {
  display: flex;
  gap: 30px;
}

.cart-items {
  flex: 2;
}

.cart-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e1e2f;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: white;
}

.cart-info h4 {
  margin: 0;
}

.quantity-box {
  margin-top: 10px;
}

.quantity-box button {
  background: #007bff;
  border: none;
  color: white;
  padding: 5px 12px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.item-total {
  font-weight: bold;
  font-size: 18px;
}

.cart-summary {
  flex: 1;
  background: #1e1e2f;
  padding: 20px;
  border-radius: 10px;
  color: white;
  height: fit-content;
}

.checkout-btn {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: green;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.empty-cart {
  font-size: 18px;
  margin-top: 20px;
}