body {
  margin: 0;
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container {
  padding: 30px;
}

.section {
  margin-bottom: 40px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

button {
  background: #0d6efd;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #084298;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.total {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
.cart-container {
  padding: 40px;
  min-height: 80vh;
}

.cart-title {
  margin-bottom: 30px;
}

.cart-layout {
  display: flex;
  gap: 30px;
}

.cart-items {
  flex: 2;
}

.cart-card {
  display: flex;
  align-items: center;
  background: #1e1e2f;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  gap: 20px;
}

.cart-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.cart-details {
  flex: 1;
}

.quantity-control button {
  background: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn {
  margin-top: 10px;
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.item-total {
  font-weight: bold;
  font-size: 18px;
}

.cart-summary {
  flex: 1;
  background: #1e1e2f;
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
}

.checkout-btn {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}